#clients {
	padding: 60px 0;
	box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
	background-color: #ecf5ff;
}

#clients .clientsWrap {
	border-top: 1px solid #d6eaff;
	border-left: 1px solid #d6eaff;
	margin-bottom: 30px;
}

#clients .clientLogo {
	padding: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 1px solid #d6eaff;
	border-bottom: 1px solid #d6eaff;
	overflow: hidden;
	background: #fff;
	height: 160px;
}
#clients .clientLogo .imagess {
	width: auto;
	height: auto;
}
#clients .clientLogo:hover img {
	transform: scale(1.2);
}

#clients img {
	transition: all 0.4s ease-in-out;
}
