.tabMenu > button {
  background: #eee;
	padding: 8px 40px;
	margin: 5px;
	border-radius: 5px;
	letter-spacing: 1px;
cursor: url('https://res.cloudinary.com/sulthaan/image/upload/v1653840864/pointer_b340qh.png'), pointer;

}

.tabMenu > button.focus {
  background: #03a9f4;
	color: #fff;
  border-bottom: 2px solid #007bef;
}

.tabMenu > button:hover {
  border-bottom: 2px solid #007bef;
}

.tabContent {
  display: none;
}

.tabContent.selected {
  display: block;
}
