
#services {
    padding: 60px 0 40px 0;
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#services .box {
    padding: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 40px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
}

#services .box:hover {
    transform: translateY(-5px);
}

#services .icon {
    position: absolute;
    left: 8px;
    top: calc(50% - 32px);
}

#services .icon i {
    font-size: 44px;
    line-height: 1;
    padding: 10px;
    transition: 0.5s;
}

#services .title {
    margin-left: 40px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

#services .title a {
    color: #111;
}

#services .box:hover .title a {
    color: #007bff;
}

#services .description {
    font-size: 14px;
    margin-left: 40px;
    line-height: 24px;
    margin-bottom: 0;
}

#services .sectionHeader h3{
    font-size: 36px;
    color: #283d50;
    text-align: center;
    font-weight: 500;
    position: relative;
}
